/* Container for header, content, panel, and footer */
body {
    margin: 10px;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: var(--wrapper-color);
}

main {
    width: 90vmin;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    width: 95vmin;
    height: 95vmin;
    float: left;
}

main.fluid {
    grid-row: 2;
    grid-column: 1;
}

#panel {
    float: none;
    overflow: hidden;
    height: 95vmin;
    background-color: var(--panel-color);
}
  
header {
    position: fixed;
    top: 0px;

#panel.fluid {
    grid-row: 3;
    grid-column: 1;
}

header {
    padding: 5vmin 1rem;
    text-align: center;
}
  
footer {
    position: fixed;
    bottom: 0px;
    background-color: var(--footer-color);
}

footer.fluid {
    grid-row: 4;
    grid-column: 1;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 150vmin) {
  /* Layout for landscape */
  #wrapper {
    grid-template-columns: min-content auto;
    justify-content: normal;
  }
  header.fluid {
    grid-row: 1;
    grid-column: 2;
  }
  main.fluid {
    grid-row: 1/4;
    grid-column: 1;
  }
  #panel.fluid {
    grid-row: 2;
    grid-column: 2;
  }
  footer.fluid {
    grid-row: 3;
    grid-column: 2;
  }
}
  
  
  