/* Container for header, content, panel, and footer */
body {
    margin: 10px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: var(--wrapper-color);
}

main {
    position: relative;
    background-color: var(--main-color);
    width: 95vmin;
    height: 95vmin;
    float: left;
}

#panel {
    float: none;
    overflow: hidden;
    height: 95vmin;
    background-color: var(--panel-color);
}
  
header {
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: var(--dot-color);
}
  
footer {
    position: fixed;
    bottom: 0px;
    background-color: var(--footer-color);
}
  
  