/* ----------------------------------------------------------------------------
Author: RickApps
Website: https://github.com/rickapps/
-----------------------------------------------------------------------------*/

body {
  background-color: var(--panel-color);
}

#wrapper {
  background-color: var(--wrapper-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  background-color: var(--header-color);
  position: relative;
  height: 2rem;
  width: 100%;
}

main {
  width: 90vmin;
  aspect-ratio: 1/1;
  background-color: var(--main-color);
}

#panel {
  background-color: var(--panel-color);
  flex-grow: 1;
  min-width: 45vmin;
}

footer {
  background-color: var(--footer-color);
  width: 100%;
}

input {
  box-sizing:border-box;
  display: block;
}

select {
  display: block;
}

form {
  margin: 8px;
}

.credit {
  float: left;
  text-align: left;
}

.source {
  float: right;
  text-align: right;
} 

span.bold {
  font-size: 40px;
  font-weight: 700;
}

img.invisible {
  visibility: hidden;
}

img.indicator {
  width: 30px;
}

.anchor-btn {
  background-color: blue;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 2px;
}

/***************************************/
/* Setup the hamburger button and logo */
/***************************************/

.mnu-button {
  cursor: pointer;
  float: left;
  /* Cannot select for copy/paste */
  user-select: none;
}

.mnu-logo {
  padding: 0;
  margin: 0 0.5rem;
  float: right;
  display: block;
  color: var(--menu-logo-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.mnu-long {
  display: none;
}

.mnu-short {
  display: inline;
}

.mnu-icon {
  float: left;
  /* Left of the logo */
  position: relative;
  top: 1rem;
  /* Move it down to the center */
  display: block;
  background: var(--menu-logo-color);
  height: 2px;
  width: 18px;
  /* Make the meat disappear */
  transition: background .2s ease-out;
}

.mnu-icon::before,
.mnu-icon::after {
  background: var(--menu-logo-color);
  /* Make an opaque background  */
  content: '';
  /* but keep the content empty */
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

/* Bottom */
.mnu-icon::before {
  top: 5px;
}

/* Top */
.mnu-icon::after {
  top: -5px;
}

/*********************************************************/
/*            menu list                                  */
/*********************************************************/
.mnu-list {
  clear: both;
}

.mnu-list, .mnu-list ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  display: none;
}

.mnu-list li {
  position: relative;
  display: block;
  z-index: 10;
  width: 8rem;
  float: none;
  padding: 0.5rem 0 .5rem 0.5rem;
  background-color: var(--header-color);
  color: var(--menu-text-color);
}

.mnu-list li:hover {
  background-color: var(--menu-back-hover);
  color: var(--menu-text-hover);
  cursor: grab;
}

.mnu-list ul {
  margin: 0;
  padding: 0;
  /* Position the submenu */
  position: absolute;
  top: 0;
  left: 8.5rem;
}

.mnu-list li:hover ul {
  /* Display our submenu */
  display: block;
}

/********** Hamburger Button has Focus. *****************/

.mnu-button:focus~.mnu-list {
  /* Display the menu */
  display: block;
}

.mnu-button:focus .mnu-icon {
  background: transparent;
}

.mnu-button:focus .mnu-icon::before {
  transform: rotate(-45deg);
}

.mnu-button:focus .mnu-icon::after {
  transform: rotate(45deg);
}

.mnu-button:focus .mnu-icon::before,
.mnu-button:focus .mnu-icon::after {
  top: 0;
}

.mnu-button:focus {
  pointer-events: none;
}

/***********************************************************/

@media only screen and (min-width: 60rem) {

  /* Hide the hamburger button */
  .mnu-icon {
      display: none;
  }

  /* Expand our logo */
  .mnu-short {
      display: none;
  }

  .mnu-long {
      display: inline;
  }

  /* Display the menu and move it to the left */
  .mnu-list {
      clear: none;
      display: block;
      text-align: center;
      padding: 0 0.5rem;
      float: left;
  }

  .mnu-list ul {
      top: 2rem;
      left: 0;
      text-align: center;
  }

  .mnu-list li {
      float: left;
      padding: 0.3rem 0.5rem 0.53rem 0.5rem;
  }
}