/* ----------------------------------------------------------------------------
Page layout for Dots Game. 
Author: RickApps
Website: https://github.com/rickapps/
Email: rick@rickapps.com
-----------------------------------------------------------------------------*/

body {
  margin: 10px;
}

#wrapper {
  background-color: var(--wrapper-color);
}

header {
  text-align: center;
}

footer {
  background-color: var(--footer-color);
}

main {
  background-color: var(--main-color);
}

#panel {
  background-color: var(--panel-color);
}

article {
  margin: 8px;
}

input {
  box-sizing:border-box;
}

form {
  margin: 8px;
}

/* Container for header, content, panel, and footer */
#mainPage #wrapper {
  display: grid;
  justify-content: center;
}

#mainPage main {
  width: 90vmin;
  aspect-ratio: 1/1;
  /* Makes absolute positioning for .modal-dialog work, */
  /* does not seem to affect grid position.             */
  position: relative; 
  grid-row: 2;
  grid-column: 1;
}

#mainPage #panel {
  grid-row: 3;
  grid-column: 1;
}

#mainPage header {
  grid-row: 1;
  grid-column: 1;
}

#mainPage footer {
  grid-row: 4;
  grid-column: 1;
}

.credit {
  float: left;
  text-align: left;
}

.source {
  float: right;
  text-align: right;
} 

.modal-dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90vmin;
  height: 90vmin;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.modal-dialog-message {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: blue;
 }
 
.modal-dialog-show {
  display: block;
}

/**************************/
/* Special for options page */
/**************************/
#optionPage #content {
  width:60%;
}

#optionPage #panel {
  width:40%;
}

#optionPage span {
  display: block;
}

.gameDetails {
  background-color: green;
  float: left; 
  width:40%;
}

.gamePeople {
  background-color: red;
  float: right;
  width:60%;
}

/* Clear the float right/left from above */
#gamevals {
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 150vmin) {
  /* Layout for landscape */
  #mainPage #wrapper {
    grid-template-columns: min-content auto;
    justify-content: normal;
  }
  #mainPage header {
    grid-row: 1;
    grid-column: 2;
  }
  #mainPage main {
    grid-row: 1/4;
    grid-column: 1;
  }
  #mainPage #panel {
    grid-row: 2;
    grid-column: 2;
  }
  #mainPage footer {
    grid-row: 3;
    grid-column: 2;
  }

  #optionPage #panel {
    width: 100%;
  }

  #optionPage #content {
    width: 100%;
  }

  .gameDetails {
    width: 100%;
  }

  .gamePeople {
    width: 100%;
  }
}

