#wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
}
#content {
  /* Contains the panel and the gameboard */
  background-color: yellow;
  width: 70%;
  float: right;
}
#panel {
  float: left;
  width: 30%;
  background-color: blueviolet;
}
#gameboard {
  width: 350px;
  height: 350px;
  background-color: wheat;
}
#footer {
    clear: both;
    background-color: red;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.dot {
  background-color: lightblue;
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #panel {
    width: 100%;
  }
  #content {
    width: 100%;
  }
}

/* Stuff for slider controls */

