/* ----------------------------------------------------------------------------
Author: RickApps
Website: https://github.com/rickapps/
-----------------------------------------------------------------------------*/

/* Default values for all game themes. Override any of these in a specific theme
---------------------------------------------------------------------------------*/
:root, 
:root.all-vars {
  --gridSize: 3;                  
  --wrapper-color: #6d1b7b;
  --header-color: #9c27b0;
  --main-color: yellow;
  --panel-color: #6d1b7b;
  --footer-color: #9c27b0;
  --dot-color: #faf0fc;
  --box-background-color: #4e1358;
  --box-border-color: #9c27b0;
  --line-available-color: transparent;
  --line-selected-color: blue;
  --line-hover-color: #efcef4;
  --machine-background-color: purple;
  --play1-background-color: pink;
  --play2-background-color: yellow;
  --play3-background-color: grey;
  --play4-background-color: beige;
  --menu-logo-color: blue;
  --menu-text-color: white;
  --menu-text-hover: yellow;
  --menu-back-hover: blue;
  --dot-alert1-color: purple;
  --dot-alert2-color: yellow;
  -line-alert1-color: purple;
  --line-alert2-color: yellow;
}

/* Create specific themes below.
---------------------------------------------------------------------------------*/
:root.theme1 {
  --main-color: lightblue;
  --play1-background-color: green;
}
:root.theme2 {
  --wrapper-color: #607D8B;
  --header-color: #546e7a;
  --main-color: yellow;
  --panel-color: #37474f;
  --footer-color: #546e7a;;
  --dot-color: #ff5722;
  --box-background-color: #263238;
  --box-border-color: #455a64;
  --line-available-color: transparent;
  --line-selected-color: #607d8b;
  --line-hover-color: #ff6e40;
  --machine-background-color: purple;
  --play1-background-color: pink;
  --play2-background-color: yellow;
  --play3-background-color: grey;
  --play4-background-color: beige;
  --menu-logo-color: blue;
  --menu-text-color: white;
  --menu-text-hover: yellow;
  --menu-back-hover: blue;
  --dot-alert1-color: purple;
  --dot-alert2-color: yellow;
  -line-alert1-color: purple;
  --line-alert2-color: yellow;
}
:root.theme3 {
  --panel-color: pink;
  --footer-color: orange;
  --line-hover-color: brown;
}
:root.theme4 {
  --box-border-color: white;
  --box-background-color: brown;
  --line-hover-color: skyblue;
}
