{% block body %}
<div class="grid-container">
    {% for boxType in boxes %}
    {# Let's see what kind of square we have #}
    {% if boxType == 'Normal' %}
        <div class="grid-item">
            <div class="dot top-left"></div>
        </div>
    {% elif boxType == 'Right' %}
    <div class="grid-item right-edge">
        <div class="dot top-left"></div>
        <div class="dot top-right"></div>
    </div> 
    {% elif boxType == 'Bottom' %}
    <div class="grid-item bottom-edge">
        <div class="dot top-left"></div>
        <div class="dot bottom-left"></div>
    </div> 
    {% elif boxType == 'Both' %}
    <div class="grid-item right-edge bottom-edge">
        <div class="dot top-left"></div>
        <div class="dot top-right"></div>
        <div class="dot bottom-left"></div>
        <div class="dot bottom-right"></div>
    </div> 
    {% endif %}

    {% endfor %}
</div>
{% endblock %}