{% block body %}
<div id="mnu-button" tabindex="0" class="mnu-button">
    <span class="mnu-icon"></span>
    <span class="mnu-logo">
        <span class="mnu-short">Menu</span>
        <span class="mnu-long">Dots & Boxes</span>
    </span>
 </div>
<ul class="mnu-list">
    <li><data value="mnuNew">New Game</data></li>
    <li><data value="mnuSettings">Change Game</data></li>
    <li><data value="mnuTheme">Theme</data></li>
    <li><data value="mnuUndo">Undo</data></li>
    <li><data value="mnuHelp">Help</data></li>
</ul>
{% endblock %}