{% block body %}
<div tabindex="0" class="mnu-button">
    <span class="mnu-icon"></span>
    <span class="mnu-logo">
        <span class="mnu-short">Menu</span>
        <span class="mnu-long">Dots & Boxes</span>
    </span>
 </div>
<ul class="mnu-list">
    <li><a href="#">New Game</a><ul id="gameSize"></ul></li>
    <li><a href="#">Change Game</a></li>
    <li><a href="#">Theme</a><ul id="gameTheme"></ul></li>
    <li><a href="#">Undo</a></li>
    <li><a href="#">Help</a></li>
</ul>
{% endblock %}