{% block body %}
<!-- Javascript we want included on each page -->
<!-- We have some globals we populate from the server -->
<!-- This is where we transfer values from python to javascript. -->
<script>
    // flask jinja fills values from main.py 
    // If GAME_SIZE is 3, there are 9 squares on the gameboard.
    // There are (3+1)**2=16 dots on the gameboard.
    {% if size is defined %}
    const GAME_SIZE = {{size|tojson}};
    {% endif %}
    // The array of lines in the game. If a line is not
    // taken, it has a value of 0. Otherwise, it is set to 1.
    {% if lines is defined %}
    const INIT_LINES = {{lines|tojson}};
    {% endif %}
    {% if reset is defined %}
    const RESET = {{reset|tojson}};
    {% endif %}

    const GAME_LEVELS =	[
    ['Easy (3x3)', 3],
    ['Medium (5x5)', 5],
    ['Difficult (7x7)', 7],
    ['Expert (10x10)', 10]
]

const GAME_THEMES = [
    ['Spring', 'theme1'],
    ['Summer', 'theme2'],
    ['Fall', 'theme3'],
    ['Winter', 'theme4']
]

const PARTICIPANTS = [
    ['2 Players', 2],
    ['3 Players', 3],
    ['4 Players', 4]
]

const PLAYER_NAMES = [
    ['Player 1', 1],
    ['Player 2', 2],
    ['Player 3', 3],
    ['Player 4', 4]
]

const MACHINE_NAME='Computer';

const NO_MACHINE='Not Playing';

const DEFAULT_LEVEL_INDEX = 1;
const DEFAULT_THEME_INDEX = 0;
const DEFAULT_PARTICIPANT_INDEX = 0;
const DEFAULT_MACHINE_PLAYER = 2;

</script>
{% endblock %}
