{% block body %}
<div id="panel">
    <fieldset>
        <legend>Score:</legend>
        <label for="play1">You:</label>
        <input type="text" id="play1" name="play1"><br><br>
        <label for="play2">Computer:</label>
        <input type="text" id="play2" name="play2"><br><br>
    </fieldset>
    <form action="/new/" method="POST">
        <fieldset>
         <legend>Options:</legend>
         <label for="glevel">Level:</label>
         <select id="glevel" name="glevel">
             <option value="3">Easy</option>
             <option value="5">Medium</option>
             <option value="7">Difficult</option>
             <option value="10">Expert</option>
         </select><br><br>
         <label for="gcolors">Colors:</label>
         <select type="text" id="gcolors" name="gcolors">
             <option value="theme1">Spring</option>
             <option value="theme2">Hot</option>
             <option value="theme3">Fall</option>
             <option value="theme4">Snow</option>
         </select><br><br>
         <input type="submit" value="New Game">
        </fieldset>
       </form>
       </div>
{% endblock %}