{% block body %}
<!-- Our scoreboard on the game page -->
<fieldset id="scoreBoard">
    <legend>Scores:</legend>
    <span id="level"></span><br>
    <img class="indicator invisible" src='/static/img/indicator.svg' alt="=>"><span class="bold claim1" id="score1"></span><br>
    <img class="indicator invisible" src='/static/img/indicator.svg' alt="=>"><span class="bold claim2" id="score2"></span><br>
    <img class="indicator invisible" src='/static/img/indicator.svg' alt="=>"><span class="bold claim3" id="score3"></span><br>
    <img class="indicator invisible" src='/static/img/indicator.svg' alt="=>"><span class="bold claim4" id="score4"></span>
</fieldset>
<form action="/new/" method="POST" id="restartGame">
    <fieldset>
        <input type="hidden" name="glevel" value="{{size|tojson}}">
        <input type="submit" value="Restart Game">
    </fieldset>
</form>
{% endblock %}