{% block body %}
<!-- Javascript we want included on each page -->
<!-- We have some globals we populate from the server -->
<script>
    // flask jinja fills values from main.py 
    const GAME_SIZE = {{size|tojson}};
    const INIT_LINES = {{lines|tojson}};
    const INIT_CLAIMS = new Array(GAME_SIZE**2).fill(-1);;
    const INIT_MOVES = [];
    const INIT_SCORE = [0,0];
    const INIT_NAMES = ['Player1', 'Player2', 'Player3', 'Player4'];
    const COMPUTER_PLAYER = 'Computer';
    const INIT_THEME = {{theme|tojson}};
</script>
<script src="/static/js/dotgame.js"></script>
<script src="/static/js/custom.js"></script>
{% endblock %}
