<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Play a game of Dots.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dots and Boxes Game</title>
    <link rel="stylesheet" href="/static/css/themes.css" media="screen">
    <link rel="stylesheet" href="/static/css/layout.css" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" media="screen">
</head>
<body>
    <div id="wrapper">
    <header><h1>Dots and Boxes Game</h1></header>  
    <main>
    <p>Unfortunately, something did not work quite right. Best to try again.</p>
    <a class="anchor-btn" href="/reset/">Try Again</a>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
    </div>
</body>
</html>