<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dots Game</title>
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="wrapper">
        {% include 'includes/header.html' %}
        <main id="content">
            {% include 'includes/gameboard.html' %}
        </main>
        {% include 'includes/panel.html' %}
        {% include 'includes/footer.html' %}
    </div>
    <script>
        // flask jinja fills values from main.py 
        const PAGE_NAME = 'game';
        const GAME_SIZE = {{size|tojson}};
        const INIT_LINES = {{lines|tojson}};
        const INIT_CLAIMS = new Array(GAME_SIZE**2).fill(-1);;
        const INIT_MOVES = [];
        const INIT_SCORE = [0,0];
        const INIT_THEME = {{theme|tojson}};
    </script>
    <!-- type=module defers until the DOM has been loaded -->
    <script src="/static/js/dotgame.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>