<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The old pencil and paper dots game from school updated for the web. One to four players.">
    <title>Play Dots and Boxes free at this website. One to four players. No ads. No signup.</title>
    <meta name="author" content="RickApps">
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="gamePage">
    <div id="wrapper">
        {% include 'includes/header.html' %}
        <main id="content">
        {% include 'includes/gameboard.html' %}
        {% include 'includes/endgame.html' %}
        </main>
        {% include 'includes/panel.html' %}
        {% include 'includes/footer.html' %}
    </div>
    {% include 'includes/scriptfiles.html' %}
</body>
</html>