<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dots Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="indexPage">
    <div id="wrapper">
        {% include 'includes/header.html' %}
        <section id="panel">
            <form action="/new/" method="POST" id="resumeGame">
                <fieldset>
                <legend>Resume Game</legend>
                <section class="gameDetails">
                    <p>You have an unfinished game. Do you want to finish it?</p>
                    <input type="submit" value="Resume Game">
                </section>
                <section class="gamePeople">
                    <fieldset>
                        <legend>Stats</legend>
                        <span id="level"></span>
                        <span id="score1" class="claim1"></span>
                        <span id="score2" class="claim2"></span>
                        <span id="score3" class="claim3"></span>
                        <span id="score4" class="claim4"></span>
                    </fieldset>
                    </section>
                </fieldset>
            </form>
            <!-- Input fields without a name attribute do not get posted -->
            <!-- These fields are used locally by javascript -->
            <form action="/new/" method="POST" id="startNewGame">
                <fieldset>
                <legend>New Game:</legend>
                <section class="gameDetails">
                    <label for="glevel">Skill:</label>
                    <select id="glevel" name="glevel">
                    <!-- The dropdown list values come from config.py GAME_LEVELS -->
                    {% for level in glevels %}
                        {% if size == level[1] %}
                        <option value={{level[1]}} selected>{{level[0]}}</option>
                        {% else %}
                        <option value={{level[1]}}>{{level[0]}}</option>
                        {% endif %}
                    {% endfor %}            
                    </select><br><br>
                    <label for="players">Players:</label>
                    <select type="text" id="players">
                        {% for player in gplayers %}
                        <option value={{player[1]}}>{{player[0]}}</option>
                        {% endfor %}
                    </select><br><br>
                    <label for="machine">{{machine}}:</label>
                    <select type="text" id="machine">
                        <option value=0>{{nomachine}}</option>
                        {% for name in pnames %}
                        <option value={{name[1]}}>{{name[0]}}</option>
                        {% endfor %}
                    </select><br><br>
                    <label for="gcolors">Colors:</label>
                    <select type="text" id="gcolors" name="gcolors">
                    <!-- The dropdown list values come from config.py GAME_THEMES -->
                    {% for theme in gthemes %}
                        <option value="{{theme[1]}}">{{theme[0]}}</option>
                    {% endfor %}            
                    </select><br><br>
                    <input type="submit" value="Start Game">
                </section>
                <section class="gamePeople">
                <fieldset id="newGamePeople">
                    <legend>Names</legend>
                    <label for="player1">Player 1:</label>
                    <input type="text" id="player1" class="claim1" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="10"><br><br>
                    <label for="player2">Player 2:</label>
                    <input type="text" id="player2" class="claim2" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="10"><br><br>
                    <label for="player3">Player 3:</label>
                    <input type="text" id="player3" class="claim3" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="10"><br><br>
                    <label for="player4">Player 4:</label>
                    <input type="text" id="player4" class="claim4" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="10"><br><br>
                </fieldset>
                </section>
                </fieldset>
               </form>
            </section>
    <main id="content">
        <article>
    <h3>How to Play:</h3>

    Players take turns drawing one horizontal or vertical line that connects two adjacent dots. Diagonal lines are not allowed. A player is awarded one
    point each time they draw the fourth side of a 1x1 square that completes a box. That player also continues drawing lines and gaining points provided each
    new line they draw completes another box. Remember, each time you complete a box, you must draw another line. If you draw a line that does not
    complete a box, your turn ends, and your opponent's turn starts. The game is over when there are no more dots to connect. The player that completes
    the most boxes wins. Play against the computer, or with another person. Your game will be saved to your computer. Return to this web page anytime to 
    resume a game in progress. 
</article>
    </main>
    {% include 'includes/footer.html' %}
    </div>
    {% include 'includes/scriptfiles.html' %}
</body>
</html>