<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dots Game</title>
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Set some variables for javascript -->
    <input type="hidden" id="gameSize" value="{{size}}"/>
    <div id="wrapper">
        {% include 'includes/header.html' %}
        <main id="content">
            {% include 'includes/gameboard.html' %}
        </main>
        {% include 'includes/panel.html' %}
        {% include 'includes/footer.html' %}
    </div>
    <script src="/static/js/dotgame.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>