<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dots and Boxes Game. Play against the computer or with up to four other players.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="RickApps">
    <title>Play Dots and Boxes Game Here</title>
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Dots and Boxes Game</h1>   
    {% include 'includes/scriptfiles.html' %}
    <script src="/static/js/dotgame.js"></script>
    <script src="/static/js/startup.js"></script>
</body>
</html>