<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The old pencil and paper dots game from school updated for the web. One to four players.">
    <title>Play the game Dots and Boxes</title>
    <meta name="author" content="RickApps">
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="wrapper">
        <dialog id="helpDlg">
            <form method="dialog">
            <h2>How to Play Dots</h2>
            <p>Players take turns drawing one horizontal or vertical line that connects two adjacent dots. Diagonal lines are not
               allowed. A player is awarded one point each time they draw the fourth side of a single square that completes a box. 
               That player also continues drawing lines and gaining points provided each new line they draw completes another box. 
               Remember, each time you complete a box, you must draw another line. Your turn ends and your opponent's turn starts
               when you draw a line that does not complete a box. The game is over when there are no more dots to connect. The player 
               that completes the most boxes wins. Play against the computer, or against another person. Your game is saved to 
               your computer. You can return to this website anytime to resume your last game in progress.</p>
            <button value="cancel">Return to Game</button>
            </form>
        </dialog>
        <dialog id="settingDlg">
            <h2>Game Settings</h2>
            <form method="dialog">
                <label for="numPlayers">Total Players:</label>
                <select id="numPlayers" name="numPlayers">
                    <option>2 Players</option>
                    <option>3 Players</option>
                    <option>4 Players</option>
               </select>
               <label for="computer">Computer:</label>
               <select id="computer" name="computer">
                    <option>Not Playing</option>
                    <option>Player 1</option>
                    <option>Player 2</option>
                    <option>Player 3</option>
                    <option>Player 4</option>
                </select>
                <fieldset>
                    <legend>Player Names</legend>
                    <label for="player1">Player 1:</label>
                    <input type="text" name="player1" id="player1"/>
                    <label for="player2">Player 2:</label>
                    <input type="text" name="player2" id="player2"/>
                    <label for="player3">Player 3:</label>
                    <input type="text" name="player3" id="player3"/>
                    <label for="player4">Player 4:</label>
                    <input type="text" name="player4" id="player4"/>
                </fieldset>
            <input type="submit" value="Save"/>
            <button value="default">Cancel</button>
            </form>
        </dialog>
        <dialog id="winnerDlg">
            <form method="dialog">
                <h2>Game Over</h2>
                <button value="default">OK</button>
                </form>
            </dialog>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
        {% include 'includes/gameboard.html' %}
        </main>
        <section id="panel">
        {% include 'includes/panel.html' %}
        </section>
        <footer>
            {% include 'includes/footer.html' %}
        </footer>
    </div>
    {% include 'includes/jsconstants.html' %}
    <script src="/static/js/dotgame.js"></script>
    <script src="/static/js/mainpage.js"></script>
    </body>
</html>