<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The old pencil and paper dots game from school updated for the web. One to four players.">
    <title>Play Dots and Boxes Game</title>
    <meta name="author" content="RickApps">
    <link rel="stylesheet" href="/static/css/themes.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="wrapper">
        <dialog id="helpDlg">
            <form method="dialog">
            <h2>How to Play Dots</h2>
            <article>
                <h5>Objective:</h5>
                <p>The player that completes the most squares wins the game.</p>
                <h5>Instructions:</h5>
                <p>Players take turns drawing horizontal or vertical lines that connect two adjacent dots. If a player draws a 
                    line that completes a square of four adjacent dots, the player claims the square. But, the player must also
                    draw an additional line to finish their turn. A player's turn ends only when the player draws a line that
                    does not complete a square. 
                </p>
                <p>The game is over when all squares are claimed. The player with the most squares wins.</p>
                <p>Play against the computer, or against another person. Your game is saved to your computer so you can return to 
                    this website anytime to finish a game in progress.
                </p>
                <h5>Learn More:</h5>
                <p><a href='https://en.wikipedia.org/wiki/Dots_and_boxes'>Wikipedia - Dots and Boxes</a></p>
            </article>
            <button value="cancel">Return to Game</button>
        </form>
        </dialog>
        <dialog id="settingDlg">
            <h2>Game Settings</h2>
            <form method="dialog">
                <label for="setDlgNumPlayers">Total Players:</label>
                <select id="setDlgNumPlayers" name="setDlgNumPlayers" title="How many are playing? (including the computer)">
               </select>
               <label for="setDlgMachine">Computer:</label>
               <select id="setDlgMachine" name="setDlgMachine">
               </select>
                <fieldset id="setDlgNames">
                    <legend>Player Names</legend>
                    <section>
                    <label for="player1">Player 1:</label>
                    <input type="text" name="player1" id="player1" maxlength="15"/>
                    </section>
                    <section>
                    <label for="player2">Player 2:</label>
                    <input type="text" name="player2" id="player2" maxlength="15"/>
                    </section>
                    <section>
                    <label for="player3">Player 3:</label>
                    <input type="text" name="player3" id="player3" maxlength="15"/>
                    </section>
                    <section>
                    <label for="player4">Player 4:</label>
                    <input type="text" name="player4" id="player4" maxlength="15"/>
                    </section>
                </fieldset>
            <button id="setDlgSaveBtn" value="default">Save</button>
            <button>Cancel</button>
            </form>
        </dialog>
        <dialog id="winnerDlg">
            <form method="dialog">
                <h2>Game Over</h2>
                <article>
                </article>
                <button id="dlgPlayAgain" value="default">Play Again</button>
                <button>Close</button>
                </form>
            </dialog>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <div id='flex-container'>
            <main>
            {% include 'includes/gameboard.html' %}
        </main>
        <section id="panel">
            {% include 'includes/panel.html' %}
        </section>
        </div>
        <footer>
            {% include 'includes/footer.html' %}
        </footer>
    </div>
    {% include 'includes/jsconstants.html' %}
    <script src="/static/js/dotgame.js"></script>
    <script src="/static/js/mainpage.js"></script>
    </body>
</html>